div {
    cursor:pointer;
}
body {
    background-color: pink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
H1 {
    color: purple;
    text-align: center;
}
H2 {text-align: center;}
p {
    color: red;
    }
img {
    border-radius: 40%;
}